@media (min-width: 480px) {
	.product .status {
		margin: 0 10px 0 0;
	}
}

@media (min-width: 768px) {
	.product .status {
		margin:  0 0 8px;
	}
}

@media (min-width: 1200px) {
	.product .status {
		margin:  0 0 5px;
	}
}