@media (max-width: 767px) {
	#modalSizeChart {
		line-height: 1.25;
	}

	#modalSizeChart .modal-dialog,
	#modalSizeChart .modal-dialog-centered {
		-ms-align-items: flex-start;
		align-items: flex-start;
		width: 100%;
		min-height: 100%;
		margin: 0;
	}

	#modalSizeChart .modal-content {
		min-height: 100vh;
	}


	#modalSizeChart .close {
		left: 15px;
		right: auto;
		height: 48px;
		background-color: transparent;
	    transform: translateY(0%);
	    color: inherit;
		line-height: 48px;
	}

	#modalSizeChart .close .icon-close:before {
		content: '\f111';
	}


	#modalSizeChart .modal-header {
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		right: 0;
		padding: 15px 0 10px 50px;
		background-color: #fff;
	}

	#modalSizeChart .modal-body {
		margin-top: 18px;
	}

	#modalSizeChart .sizechart-grid {
		margin-left: -15px;
		margin-right: -15px;
	}

	#modalSizeChart .sizechart-grid .sizechart-head {
		top: 48px;
	}
}

@media (max-width: 575px) {
	#modalSizeChart .close {
		left: 0;
	}

	#modalSizeChart .modal-header {
		padding-left: 35px;
	}
}