@media (min-width: 768px) {
	.section-related {
		padding-top: 50px;
		padding-bottom: 20px;
	}
}

@media (min-width: 992px) {
	.section-related {
		padding-top: 55px;
		padding-bottom: 35px;
	}
}

@media (min-width: 1200px) {
	.section-related {
		padding-top: 65px;
		padding-bottom: 50px;
	}
}