@media (min-width: 480px) {
	.pagination {
		padding-left: 0;
		padding-right: 0;
	}
	
	.pagination .page-item.prev,
	.pagination .page-item.next {
		position: static;
		margin-left: 4px;
		margin-right: 4px;
		font-size: 15px;
	}

	.pagination .page-item.prev {
		margin-left: 0;
		margin-right: 35px;
	}

	.pagination .page-item.next {
		margin-left: 35px;
		margin-right: 0;
	}
}