.product-description-block {
	font-weight: 300;
	color: #2c2c2c;
}

.product-description-block .title {
    margin: 0 0 5px;
    font-family: 'Jikharev';
    font-size: 23px;
    line-height: 1.25;
}

.product-description-block .product-description {
	margin-bottom: 3px;
	font-size: 14px;
	line-height: 1.45;
}