.address-card {
	display: -ms-flex;
	display: flex;
	font-size: 13px;
	color: #343434;
	line-height: 1.38;
}

.address-media {
	flex: 0 0 26px;
	max-width: 26px;
	margin-right: 10px;
	line-height: 1;
}

.address-media i {
	font-size: 34px;
}

.address-title {
	margin: 0 0 3px;
	font-size: 15px;
	font-weight: 400;
	color: #2c2c2c;
}