.swiper-products {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 15px;
}

.swiper-products .swiper-slide {
	padding-left: 15px;
	padding-right: 15px;
}

.swiper-products .swiper-button-prev,
.swiper-products .swiper-button-next {
	outline: none !important;
	height: 30px;
	padding-top: calc(66.5% - 22px);
}

.swiper-products .swiper-button-prev {
	left: -15px;
}

.swiper-products .swiper-button-next {
	right: -15px;
}