.section-about {
	padding-top: 50px;
	padding-bottom: 30px;
	background: #eee url('../../images/page-home/section-about/section-about-bg.jpg') no-repeat center top;
	background-size: cover;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.42;
	color: #2c2c2c;
}

.section-about p {
	color: inherit;
}

.section-about .section-header {
	margin-bottom: 15px;
}