@media (min-width: 992px) {
	.filter-wrapper {
		position: static;
		display: block !important;
		padding: 0;
		box-shadow: none;
	}

	.filter-header {
		padding-top: 12px;
		padding-bottom: 5px;
	}

	.filter-content {
		margin-top: 0;
		padding-bottom: 0;
	}
}